- if spreadsheets.empty?
  | Таблиц нет
- else
  - lines = spreadsheets.each.with_index(1).map do |spreadsheet, index|
    - spreadsheet.alias.present? ? "#{index}) #{spreadsheet.alias}: #{spreadsheet.document_id}" : "#{index} #{spreadsheet.document_id}"
  = lines.join("\n")
